<!DOCTYPE html>
<html lang="en">


<!-- toast notifcations for incorrect email / password -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="login-title">
            <img src="https://dining.ucmerced.edu/sites/dining.ucmerced.edu/files/images/ucm_ds_logo_rgb_primary.png" alt="" id = "logo">
        </div>
        <div class="login-form">
            <label for="email">Login</label>
            <input id = "email" type="text">
            <label for="password">Password</label>
            <input type="text" id = "password">
            
            <button id = "submit">Login</button>
            <p>E-mail DiningMarketing@ucmerced.edu for support</p>
        </div>
    </div>

    <script type = "module" src="/static/js/login.js"></script>
</body>
</html>