<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="login-title">
            <img src="https://dining.ucmerced.edu/sites/dining.ucmerced.edu/files/images/ucm_ds_logo_rgb_primary.png" alt="" id = "logo">
        </div>
        <div class="login-form">
            <label for="username">Login</label>
            <input id = "username" type="text">
            <label for="password">Password</label>
            <input type="text" id = "password">

            <button id = "submit">Login</button>
        </div>
    </div>
</body>
</html>